.card{
    background-color: #F7C42D;
    margin: auto;
    width: 260px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    
}
.card_img{
    width: 250px;
    border-radius: 10px;
    margin: 5px;

    
}
.card_text{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}
.card_heading{
    margin: 10px 0px;
    font-size: 15px;
    display: inline;
}