
        .card {
            background-color: antiquewhite;
            padding: 20px;
            border-radius: 10px;
            border: 2px solid grey;
        }

        .card img {
            width: 250px;
            float: right;
        }
  