*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: url("./img1.png") ;
    background-size:cover;
    background-position: center;
    border: 2px solid #000;
     opacity: 1;
    transition: opacity 0.5s ease;
 }
 .container.fade-out {
    opacity: 0.4;
}
 .btn-div{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;

 }
 .btn{
    padding: 4rem;
    font-size: 3rem;
    color: aliceblue;
    background: #ffffff00;
    border: none;
 }
 .btn:active{
    background: #ffffff19;
 }
 #previous-btn{
    border-radius:0 50% 50% 0%;
 }
#next-btn{
        border-radius:50% 0% 0% 50%;
    }
