      nav ul{
        list-style: none;
       }
       ul a{
        text-decoration: none;
       }
       nav>ul{
        display: flex;
       }
       li+li{
        margin-left:  20px ;
       }




